{% extends "base/base.html" %}
{% block titulo %}
  Listado de Productos
{%endblock titulo%}
{% block contenido %}
<div>
    <a href="{% url 'cliente_crear'%}" class="btn btn-succes">Nuevo</a>
</div>
<div class ='card'>
    <div class="card-header">
        Listado de Productos
    </div>  
    <div class="card-body">
        <table id ="Productos" class="table table-striped" style ="width: 100%;">
            <thead>
                <tr>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    <th>id</th>
                    <th>Nombre del producto</th>
                    <th>idProveedor</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Inventario</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for data in object_list %}
                <tr>
                    <td><a href="{% url 'Producto_eliminar' data.idProducto %}" class="btn btn-danger">Eliminar</a></td>
                    <td><a href="{% url 'Producto_edit' data.idProducto %}" class="btn btn-info">Editar</a></td>
                    <td>{{data.idProducto}}</td>
                    <td>{{data.nombreProducto}}</td>
                    <td>{{data.idProveedor}}</td>
                    <td>{{data.ProductoDescripcion}}</td>
                    <td>{{data.ProductoPrecio}}</td>
                    <td>{{data.Inventario}}</td>

                 </tr>
                  {% endfor %}
            </tbody>
         </table>
    </div>
</div>
{% endblock contenido %}
{% block js_page%}
   
<script>
    $(document).ready(function() {
              $('#Producto').DataTable( {
          paging:true,
          scrollY:true,
          scrollX:true,
          scrollCollapse:true,
          pagingType: 'full_numbers',
          dom: 'Blfrtip',
          buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
          ],
          lengthMenu: [
                          [ 10, 25, 50, -1 ],
                          [ '10 Filas', '25 Filas ', '50 Filas', 'Mostrar todo' ]
                      ],
          "language": {
              "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
          }});
          });
  
  </script>

  {% endblock js_page %}
