{% extends "base/base.html" %}
{% block titulo %}
  Nuevo Empleado
{%endblock titulo%}
{% block contenido %}
<div class="card">
    <div class="card-header">
      Nuevo Empleado
    </div>
    <div class="card-body">
<form method="post">
   {% csrf_token %}
            
            <div class="form-group row">
                <div class="form-group col-sm-12">
                    <label for="name">Codigo de Empleado: </label>
                     <div class="input-group">
                       <div class="input-group-addon"><i class="fa fa-user fa-lg text-info" aria-hidden="true"></i></div>
                            {{ form.idEmpleado}} 
                    </div>
                </div>
             
        
                <div class="form-group col-sm-12">
                    <label for="name">Nombre de Empleado: </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user fa-lg text-info" aria-hidden="true"></i></div>
                            {{ form.EmpleadoNombre}}
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="name">Telefono de Empleado: </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user fa-lg text-info" aria-hidden="true"></i></div>
                            {{ form.EmpleadoTel}}
                    </div>
                </div>
                
                <div class="form-group col-sm-12">
                    <label for="name">Correo de Empleado: </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user fa-lg text-info" aria-hidden="true"></i></div>
                            {{ form.EmpleadoCorreo}}
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="name">salario de Empleado: </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user fa-lg text-info" aria-hidden="true"></i></div>
                            {{ form.EmpleadoSalario}}
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="name">Edad de Empleado: </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user fa-lg text-info" aria-hidden="true"></i></div>
                            {{ form.EmpleadoEdad}}
                    </div>
                </div>
            </div>
            <button type="submit" value="Submit" class="btn btn-success btn-lg btn-block">Guardar</button>
        </form>
    </div>
</div>     
{% endblock contenido %}